---
import PageLayout from "@layouts/PageLayout.astro"
import Container from "@components/Container.astro"
import Link from "@components/Link.astro"

export async function getStaticPaths() {
//   const apps = (await getCollection("apps"))
//     .filter(post => !post.data.draft)
//     .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
//   return apps.map((app) => ({
//     params: { slug: app.slug },
//     props: app,
//   }));
    return [
        {params: {app: 'bamboo-dragonfly'}},
        {params: {app: 'checkup-report'}}
    ]
}

const { app } = Astro.params
const effectiveDate = new Date("2024-08-27")
const mail = "contact@flhcctech.com"
---

<PageLayout title={app} description={app}>
    <Container>
        <div class="font-bold text-2xl text-black dark:text-white">
            Terms of Use at {app}
        </div>

        <div class="animate space-y-2">
            <p class="text-xs">Effective Date: { effectiveDate.toLocaleDateString() }</p>
<p>Welcome to our mobile application (the "App"). By accessing or using the App, you agree to be bound by these Terms of Use (the "Terms"). Please read these Terms carefully before using the App. If you do not agree with these Terms, you should not use the App.</p>

<h2 class="font-semibold text-black dark:text-white">1. Acceptance of Terms</h2>
<p>By downloading, installing, or using the App, you agree to be bound by these Terms. If you do not agree to these Terms, do not use the App.</p>

<h2 class="font-semibold text-black dark:text-white">2. Use of the App</h2>
<p>The App is provided for your personal, non-commercial use only. You may not use the App for any illegal or unauthorized purpose. You agree to comply with all applicable laws, rules, and regulations in connection with your use of the App.</p>

<h2 class="font-semibold text-black dark:text-white">3. User Responsibilities</h2>
<p>You are responsible for maintaining the confidentiality of your account information and for all activities that occur under your account. You agree to notify us immediately of any unauthorized use of your account or any other breach of security.</p>

<h2 class="font-semibold text-black dark:text-white">4. Intellectual Property</h2>
<p>All content available on the App, including but not limited to text, graphics, logos, icons, images, and software, is the property of the App or its licensors and is protected by applicable intellectual property laws. You may not use, reproduce, distribute, or create derivative works from any content on the App without our express written permission.</p>

<h2 class="font-semibold text-black dark:text-white">5. Disclaimer of Warranties</h2>
<p>The App is provided on an "as is" and "as available" basis without any warranties of any kind, either express or implied. We do not warrant that the App will be uninterrupted, error-free, or free of viruses or other harmful components.</p>

<h2 class="font-semibold text-black dark:text-white">6. Limitation of Liability</h2>
<p>In no event shall we be liable for any direct, indirect, incidental, special, or consequential damages arising out of or in connection with your use of or inability to use the App, even if we have been advised of the possibility of such damages.</p>

<h2 class="font-semibold text-black dark:text-white">7. Modifications to the Terms</h2>
<p>We reserve the right to update or modify these Terms at any time without prior notice. Your continued use of the App following any changes to these Terms constitutes your acceptance of the new Terms.</p>

<h2 class="font-semibold text-black dark:text-white">8. Termination</h2>
<p>We may, in our sole discretion, terminate or suspend your access to the App at any time, with or without cause or notice to you.</p>

<h2 class="font-semibold text-black dark:text-white">9. Governing Law</h2>
<p>These Terms shall be governed by and construed in accordance with the laws of [Your Jurisdiction], without regard to its conflict of law provisions. You agree to submit to the exclusive jurisdiction of the courts located in [Your Jurisdiction].</p>

<h2 class="font-semibold text-black dark:text-white">10. Contact Us</h2>
<p>If you have any questions about these Terms, please contact us at:</p>
<p>Email: 
    <Link href={ `mailto:${mail}` }>{mail}</Link>
</p>

</div>
    </Container>
  </PageLayout>