---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { readingTime } from "@lib/utils";
import BackToPrev from "@components/BackToPrev.astro";
import Link from "@components/Link.astro";

export async function getStaticPaths() {
  const apps = (await getCollection("apps"))
    .filter(post => !post.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return apps.map((app) => ({
    params: { slug: app.slug },
    props: app,
  }));
}
type Props = CollectionEntry<'apps'>;

const app = Astro.props;
const { Content } = await app.render();
---

<PageLayout title={app.data.title} description={app.data.description}>
  <Container>
    <div class="animate">
      <BackToPrev href="/apps">
        Back to apps
      </BackToPrev>
    </div>
    <div class="space-y-1 my-10">
      <div class="animate flex items-center gap-1.5">
        <div class="font-base text-sm">
          <FormattedDate date={app.data.date} />
        </div>
        &bull;
        <div class="font-base text-sm">
          {readingTime(app.body)}
        </div>
      </div>
      <div class="animate text-2xl font-semibold text-black dark:text-white">
        {app.data.title}
      </div>
      <!-- {(app.data.demoURL || app.data.repoURL) && (
        <nav class="animate flex gap-1">
          {app.data.demoURL && (
            <Link href={app.data.demoURL} external>
              demo
            </Link>
          )}
          {app.data.demoURL && app.data.repoURL && (
            <span>/</span>
          )}
          {app.data.repoURL && (
            <Link href={app.data.repoURL} external>
              repo
            </Link>
          )}
        </nav>
      )} -->
    </div>
    <article class="animate">
      <Content />
    </article>
  </Container>
</PageLayout>