---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { APPS } from "@consts";

const apps = (await getCollection("apps"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<PageLayout title={APPS.TITLE} description={APPS.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-bold text-2xl text-black dark:text-white">
        Apps
      </div>
      <ul class="animate flex flex-col gap-4">
        {
          apps.map((app) => (
            <li>
              <ArrowCard entry={app} href={`/${app.collection}/${app.slug}`} appIcon={app.data.appIcon} />
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>
